<form [formGroup]="phone">
  <span>(</span>
  <label>
    <input #area matInput id="area" formControlName="area" maxlength="2" size="2"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
  <span>)</span>
  <label>
    <input #exchange matInput id="exchange" formControlName="exchange" maxlength="5" size="5"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
  <span>-</span>
  <label>
    <input #subscriber matInput id="subscriber" formControlName="subscriber" maxlength="4" size="4"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
</form>
