<form [formGroup]="phone">
  <span>(</span>
  <label>
    <input matInput id="area" formControlName="area" maxlength="2" size="2" (input)="updateValue()" (blur)="onTouched()" #area>
  </label>
  <span>)</span>
  <label>
    <input matInput id="exchange" formControlName="exchange" maxlength="5" size="5" (input)="updateValue()" (blur)="onTouched()" #exchange>
  </label>
  <span>-</span>
  <label>
    <input matInput id="subscriber" formControlName="subscriber" maxlength="4" size="4" (input)="updateValue()" (blur)="onTouched()" #subscriber>
  </label>
</form>
