<mat-toolbar class="app-toolbar" color="primary">
  <nav class="nav-links">
    <a mat-button class="nav-link" routerLink="" matTooltip="Voltar para a página inicial.">
      <mat-icon class="nav-link-icon">home</mat-icon>
      <span class="nav-link-text">Home</span>
    </a>

    <!--  TODO: Remover antes da entrega  -->
    <a mat-button class="nav-link" routerLink="/404" matTooltip="Ir para a página de erro 404." *ngIf="dev">
      <mat-icon class="nav-link-icon">error_outline</mat-icon>
      <span class="nav-link-text">404</span>
    </a>

    <a mat-button class="nav-link" [matMenuTriggerFor]="user" *ngIf="dev">
      <mat-icon class="nav-link-icon">account_circle</mat-icon>
      <span class="nav-link-text">Usuário</span>
      <mat-menu #user="matMenu">
        <button mat-menu-item [routerLink]="routes.user.signup">Cadastro</button>
        <button mat-menu-item [routerLink]="routes.user.signin">Login</button>
        <button mat-menu-item [routerLink]="routes.user.passwordReset">Solicitação de senha</button>
        <button mat-menu-item routerLink="/password-reset">Alteração de senha</button>
      </mat-menu>
    </a>

    <a mat-button class="nav-link" [matMenuTriggerFor]="event" *ngIf="dev">
      <mat-icon class="nav-link-icon">date_range</mat-icon>
      <span class="nav-link-text">Evento</span>
      <mat-menu #event="matMenu">
        <button mat-menu-item [routerLink]="routes.event.register">Registrar novo evento</button>
        <button mat-menu-item [routerLink]="routes.event.list">Listar meus eventos</button>
        <button mat-menu-item routerLink="/event/1i23h1231h23912h3">Visão geral de um evento</button>
      </mat-menu>
    </a>
    <!--  TODO: Remover antes da entrega  -->
  </nav>

  <div class="nav-spacer"></div>

  <div class="nav-links">
    <a mat-button class="nav-link" [href]="repoLink" matTooltip="Ir para o repositório do app.">
      <img id="nav-link-icon-github" src="../../../../assets/github-circle-white-transparent.svg" alt="github-img">
      <span class="nav-link-text">GitHub</span>
    </a>

    <a mat-button class="nav-link" id="controle-login-cadastro" *ngIf="!userIsLogged()" [routerLink]="routes.user.signin" matTooltip="Ir para a página de autenticação.">
      <mat-icon class="nav-link-icon">account_circle</mat-icon>
      <span class="nav-link-text">Login/Cadastro</span>
    </a>

    <a mat-button class="nav-link" id="controle-sair" *ngIf="userIsLogged()" routerLink="" matTooltip="Desfazer autenticação." (click)="disconnectUser()">
      <mat-icon class="nav-link-icon">exit_to_app</mat-icon>
      <span class="nav-link-text">Sair</span>
    </a>
  </div>
</mat-toolbar>
