$highlight-color: hsl(0, 0%, 80%);
$background-color: hsl(206, 9%, 15%);

.mat-toolbar {
  position: fixed;
  top: 0;
  height: 52px;
  text-transform: uppercase;
  color: white;
  background-color: $background-color;
}

nav {
  padding: 0 15px;
}

.mat-button {
  font-size: 16px;

  &:hover {
    color: $highlight-color;
    background-color: hsla(0, 0%, 100%, 0.04);

    svg {
      fill: $highlight-color;
    }
  }

  svg {
    margin-bottom: 1px;
    fill: white;
  }
}

.nav-spacer {
  flex: auto;
}

.mat-icon {
  height: 28px;
  margin: 4px 4px 2px 0;
}

@media (max-width: 768px) {
  span {
    display: none;
  }
}
