mat-toolbar {
  position: fixed;
  top: 0;
  height: 52px;
  text-transform: uppercase;
}

nav {
  padding: 0 15px;
}

a {
  font-size: 16px;

  svg path {
    margin-bottom: 1px;
    fill: hsl(0, 0%, 100%);
  }

  &:hover {
    color: hsl(36, 100%, 50%);
    background-color: rgba(white, 0.04);
  }
}

.nav-spacer {
  flex: auto;
}

.mat-icon {
  height: 28px;
  margin: 4px 4px 2px 0;
}

@media (max-width: 768px) {
  span {
    display: none;
  }
}
