#file-input {
  display: flex;
}

#file-names {
  flex: auto;
  min-height: 18px;

  white-space: pre;
}

input {
  width: 2em;
  padding: 0;
  border: none;
  text-align: center;

  background: none;
  outline: none;
  font: inherit;
}
