h1 {
  text-transform: uppercase;
  margin: 1em 15%;
}

h3 {
  margin: 0 10%;
}

button {
  font-size: 24px;
  height: 48px;
  width: 240px;
  margin: 36px 0 28px;
  border-radius: 28px;
}

@media(max-width: 768px) {
  h1 {
    font-size: 16px;
    line-height: 22px;
  }

  h3 {
    font-size: 14px;
    line-height: 22px;
  }

  button {
    height: 64px;
    width: 200px;
    border-radius: 32px;
  }
}
