<div class="content">
  <!-- TODO: adicionar um motto do serviço -->
  <h1 class="mat-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit!</h1>
  <!-- TODO: adicionar uma descrição do serviço -->
  <h3 class="mat-subheading-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet bibendum enim
    facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
  </h3>

  <button mat-flat-button id="btn-register-new-event" color="accent" [routerLink]="eventRegisterRoute">
    Crie seu evento
  </button>
</div>
