@import "variables";

h1 {
  margin: 1em 15%;
  text-transform: uppercase;
}

h3 {
  margin: 0 10%;
}

button {
  width: 240px;
  height: 48px;
  margin: 36px 0 28px;
  border-radius: 28px;

  font-size: 24px;
}

@media (max-width: $tablet-breakpoint) {
  h1 {
    font-size: 16px;
    line-height: 22px;
  }

  h3 {
    font-size: 14px;
    line-height: 22px;
  }

  button {
    width: 200px;
    height: 64px;
    border-radius: 32px;
  }
}
