<div class="content">
  <h1 class="mat-headline">Seja bem-vindo ao MyEvents!</h1>
  <h3 class="mat-subheading-2">
    Quer criar um evento e convidar a turma toda de uma maneira fácil e prática? Utilize então os nossos serviços!
    O nosso sistema automatiza a criação e envio de convites, através de e-mails e concentra informações do seu evento
    em uma página personalizável! <a href="/">#MyEvents</a>
  </h3>

  <button mat-flat-button id="btn-register-new-event" color="accent" [routerLink]="eventRegisterRoute">
    Crie seu evento
  </button>
</div>
