<form [formGroup]="cpf">
  <label>
    <input matInput formControlName="group1" maxlength="3" size="3" (input)="updateValue()" (blur)="onTouched()" #group1>
  </label>
  <span >.</span>
  <label>
    <input matInput formControlName="group2" maxlength="3" size="3" (input)="updateValue()" (blur)="onTouched()" #group2>
  </label>
  <span >.</span>
  <label>
    <input matInput formControlName="group3" maxlength="3" size="3" (input)="updateValue()" (blur)="onTouched()" #group3>
  </label>
  <span >-</span>
  <label>
    <input matInput id="cv" formControlName="cv" maxlength="2" size="2" (input)="updateValue()" (blur)="onTouched()" #cv>
  </label>
</form>
