<div class="content">
  <div class="formulario">
    <h1 class="formulario-header">Lista de Eventos</h1>



    <div class="campos">

      <!-- Usei div para não dar erro enquanto ainda não foi feito -->

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 1 </h2>
        </label>

      </div>

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 2 </h2>
        </label>

      </div>

    </div>


    <div class="campos">

      <!-- Usei div para não dar erro enquanto ainda não foi feito -->

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 3 </h2>
        </label>

      </div>

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 4 </h2>
        </label>

      </div>

    </div>




    <div class="campos">

      <!-- Usei div para não dar erro enquanto ainda não foi feito -->

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 5 </h2>
        </label>

      </div>

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 6 </h2>
        </label>

      </div>

    </div>



    <div class="campos">

      <!-- Usei div para não dar erro enquanto ainda não foi feito -->

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 7 </h2>
        </label>

      </div>

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 8 </h2>
        </label>

      </div>

    </div>



    <div class="campos">

      <!-- Usei div para não dar erro enquanto ainda não foi feito -->

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 9 </h2>
        </label>

      </div>

      <div class="campo" appearance="outline">

        <label>
          <h2> Evento 10 </h2>
        </label>

      </div>

    </div>



    <div class="formulario-acoes">
      <button mat-raised-button class="formulario-acoes-btn" id="btn-cadastro" color="primary" >Convidar</button>
    </div>
  </div>
</div>
