<div class="content">
  <app-loading-spinner *ngIf="!resolved; else content"></app-loading-spinner>
  <ng-template #content>
    <mat-grid-list cols="20" rowHeight="2:1" gutterSize="10">
      <mat-grid-tile colspan="5" rowspan="8">
        <div id="image" [style.backgroundImage]="getBackgroundImage()"></div>
      </mat-grid-tile>

      <mat-grid-tile colspan="10" rowspan="8">
        <div id="description">
          <h2 class="mat-title">{{event.name}}</h2>
          <p>{{event.description}}</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="5" rowspan="19">
        <span id="schedule">{{event.schedule}}</span>
      </mat-grid-tile>

      <mat-grid-tile colspan="15" rowspan="8">
        <div id="attributes">
          <div class="attribute">
            <mat-icon matTooltip="Data de início do evento">date_range</mat-icon>
            <span>{{event.startDate.toLocaleDateString()}}</span>
          </div>

          <div class="attribute">
            <mat-icon matTooltip="Organizar do evento">person</mat-icon>
            <span>{{event.user.name}}</span>
          </div>

          <div class="attribute">
            <mat-icon matTooltip="Telefone/celular do organizador do evento">local_phone</mat-icon>
            <span>{{formatedPhone()}}</span>
          </div>

          <div class="attribute" id="directions">
            <mat-icon [matTooltip]="event.complement">directions</mat-icon>
            <div class="attribute-multiline">
              <span><strong>Estado/Cidade</strong>: {{formatedCEP()}}, {{event.stateName}}/{{event.cityName}}</span>
              <span>
                <strong>Local</strong>: {{event.neighborhood}}, {{event.street}}
                {{event.number ? ', ' + event.number : ''}}
              </span>
            </div>
          </div>

          <div *ngIf="event.admissionPrice" class="attribute">
            <mat-icon matTooltip="Preço de entrada">attach_money</mat-icon>
            <span>{{event.admissionPrice}}</span>
          </div>

          <div *ngIf="event.attire" class="attribute">
            <mat-icon matTooltip="Traje">wc</mat-icon>
            <span>{{event.attire}}</span>
          </div>

          <div *ngIf="event.minimumAge" class="attribute">
            <mat-icon matTooltip="Idade mínima">assignment_ind</mat-icon>
            <span>{{event.minimumAge}}</span>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="15" rowspan="3">
        <div id="actions">
          <button *ngIf="isOwner()" mat-flat-button color="accent" (click)="guestsEdit()">
            <mat-icon>create</mat-icon>
            Editar lista de convidados
          </button>

          <button mat-flat-button color="primary" (click)="guests()">
            <mat-icon>list</mat-icon>
            Lista de convidados
          </button>

          <button *ngIf="isOwner()" mat-flat-button color="warn" (click)="cancel()">
            <mat-icon>delete_forever</mat-icon>
            Cancelar evento
          </button>

          <button mat-flat-button color="primary" (click)="downloadAttachments()">
            <mat-icon>attachments</mat-icon>
            Baixar anexos
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</div>
