<div id="events">

  <h2> {{event.name}} </h2>


  <mat-form-field class="card-row" >
    <mat-label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
      <h3> {{event.startDate}} </h3>

    </mat-label>

    <mat-label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">monetization_on</mat-icon>
      <h3> {{event.admissionPrice}} </h3>

    </mat-label>
  </mat-form-field>



  <mat-label class="card-row" >
    <label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">assignment_ind</mat-icon>
      <h3> {{event.user}} </h3>

    </label>

    <label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      <h3> {{event.minAge}} </h3>

    </label>
  </mat-label>



  <mat-label class="card-row" >
    <label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">smartphone</mat-icon>
      <h3> {{event.number}} </h3>

    </label>

    <label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">grade</mat-icon>
      <h3> {{event.attire}} </h3>

    </label>
  </mat-label>



  <mat-label class="card-row" >
    <label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">contact_mail</mat-icon>
      <h3> {{event.cep}} </h3>

    </label>

    <label class="card-field" appearance="outline">

      <mat-icon aria-hidden="false" aria-label="Example home icon">people_outline</mat-icon>
      <h3> {{event.companionLimit}} </h3>

    </label>
  </mat-label>

</div>
