@import "../../styles/global";

.formulario-subcabecalho {
  color: hsl(0, 100%, 60%);
}

.formulario {
  width: 80%;
}

.campos {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .campo {
    width: 45%;
    text-align: left;
  }

  .campo-grande {
    width: 46%;
    text-align: center;
  }


}

.campo-icon {
   color: black;
   height: 10px;
   margin: 5px 20px 3px 0;
  font-size: 45px;
 }

.campo-text {
  font-size: 25px;
  color: black;
  height: 10px;
  margin: 10px;
}


/* TODO: @media para telas menores */
