@import "variables";

.content {
  justify-content: flex-start;
  min-height: calc(100% - #{$navbar-height});
  padding: 10px;
}

mat-grid-list {
  width: 100%;
}

mat-grid-tile {
  border: 1px solid hsla(0, 0%, 0%, 0.1);

  background: white;
}

#image {
  width: 100%;
  height: 100%;

  background: white no-repeat center/cover;
}

#description {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: 10px;

  text-align: left;

  h2 {
    margin: 0;
  }

  p {
    align-self: flex-start;
    margin-block-start: 6px;

    overflow: auto;
  }
}

#schedule {
  align-self: flex-start;
  width: 100%;
  padding: 10px;

  text-align: left;
  overflow-wrap: break-word;
}

#attributes {
  display: flex;
  flex-flow: column wrap;
  align-self: flex-start;
  width: 100%;
  height: 100%;

  .attribute {
    display: flex;
    align-items: center;
    width: calc(50% - 30px);
    height: calc(25% - 30px);
    padding: 15px;

    text-align: left;

    .mat-icon {
      width: 42px;
      height: 42px;

      color: hsl(0, 0%, 20%);
      font-size: 42px;
    }

    span {
      margin-left: 5px;
    }

    .attribute-multiline {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  #directions {
    width: auto;
  }
}

#actions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  button {
    height: 42px;
  }
}
