#pagina404 {
  height: 100%;
  text-align: center;
}

#pagina404-mensagem-titulo {
  font-size: 52px;
  font-weight: lighter;
  margin-top: 10%;
}

#pagina404-btn-pagina-inicial {
  font-size: 32px;
  margin: 10% 0 0 0;
  height: 64px;
  width: 424px;
}

/* TODO: @media para telas menores */
