$larguraFormulario: 400px;
$larguraItens: $larguraFormulario - 40px;

.formulario {
  width: $larguraFormulario;
}

.formulario-cabecalho {
  margin: 32px 0;
}

.formulario-mensagem-erro {
  color: red;
  width: $larguraFormulario;
}

.formulario-dados, .formulario-acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-dados-campo {
  width: $larguraItens;
  margin: 5px 0;
}

.formulario-acoes-btn {
  margin: 10px 0;
}

.formulario-dados-forca-senha {
  width: $larguraItens;
  margin: 5px 0;
}

/* TODO: @media para telas menores */
