.content { }

.card {
  width: 500px;
  padding: 25px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  background-color: white;
  box-shadow: 3px 3px 1.5px hsla(0, 0%, 0%, 0.1);
}

.card-title, .card-header, .card-subheader {
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-field {
  width: 100%;
  margin: 5px 0;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .card-field {
    width: 47%;
  }
}

.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}

/* TODO: @media para telas menores */
