.content {}

.form {
  width: 500px;
  padding: 30px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: .3em;
  background-color: white;
}

.form-header, .form-subheader {
  margin: 0 0 18px;
}

.form-header {
  font-weight: normal;
}

.form-subheader {
  font-weight: lighter;
}

//.form-data {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  align-items: center;
//  width: 100%;
//}
//
//.form-data-step {
//  width: 100%;
//}
//
//.form-fields {
//  display: flex;
//  justify-content: space-between;
//  width: 100%;
//}
//
//.form-field {
//  width: 100%;
//  margin: 5px 0;
//}
//
//.form-actions {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: center;
//  width: 100%;
//  margin-top: 16px;
//}

.form-main-action {
  width: 200px;
  height: 42px;
}

/* TODO: @media para telas menores */
