.content {
  justify-content: flex-start;
}

.mat-headline {
  margin-top: 16px;
}

.mat-title {
  margin: auto;

  font-weight: normal;
}

table {
  width: 95%;
  margin: 25px 0;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

th.mat-header-cell {
  text-align: center;

  font-size: 16px;
}
