.phone {
  display: flex;
  justify-content: center;
}

.digits {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  text-align: center;
}

#area {
  width: 1.5em;
}

#exchange {
  width: 3.3em;
}

#subscriber {
  width: 2.7em;
}

.delimiter {
  opacity: 0;
  transition: opacity 500ms;
  line-height: 1em;
}

:host.floating .delimiter {
  opacity: 1;
}
