<form [formGroup]="cpf">
  <label>
    <input #group1 matInput formControlName="group1" maxlength="3" size="3"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
  <span>.</span>
  <label>
    <input #group2 matInput formControlName="group2" maxlength="3" size="3"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
  <span>.</span>
  <label>
    <input #group3 matInput formControlName="group3" maxlength="3" size="3"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
  <span>-</span>
  <label>
    <input #cv matInput id="cv" formControlName="cv" maxlength="2" size="2"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
</form>
