form {
  display: flex;
  justify-content: center;
}

input {
  width: 2em;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  text-align: center;
}

#cv {
  width: 1.5em;
}

span {
  opacity: 0;
  line-height: 1em;
  transition: opacity 200ms;
}

:host.floating span {
  opacity: 1;
}
