<form [formGroup]="cpf">
  <label>
    <input matInput maxlength="3" size="3" formControlName="group1"
           (input)="onAnyInputChange()" (blur)="onTouched()"
           #group1>
  </label>
  <span>.</span>
  <label>
    <input matInput maxlength="3" size="3" formControlName="group2"
           (input)="onAnyInputChange()" (blur)="onTouched()"
           #group2>
  </label>
  <span>.</span>
  <label>
    <input matInput maxlength="3" size="3" formControlName="group3"
           (input)="onAnyInputChange()" (blur)="onTouched()"
           #group3>
  </label>
  <span>-</span>
  <label>
    <input matInput id="cv" maxlength="2" size="2" formControlName="cv"
           (input)="onAnyInputChange()" (blur)="onTouched()"
           #cv>
  </label>
</form>
