#pagina-inicial {
  height: 100%;
  text-align: center;
}

#pagina-inicial-titulo {
  font-size: 50px;
  margin-top: 10%;
  text-transform: uppercase;
}

#pagina-inicial-mensagem {
  font-size: 24px;
  margin: 5% 25% 0;
}

#pagina-inicial-btn-criar-evento {
  font-size: 32px;
  margin: 10% 0 0 0;
  height: 64px;
  width: 380px;
  border-radius: 32px;
}

/* TODO: @media para telas menores */
