.Pagina-Inicial-Titulo{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 15%;
}

.Pagina-Inicial-Texto{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.Pagina-Inicial-Botao{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin-top: 5%;
  height: 10%;
  margin-left: 44%; /* Isso aki não é muito bom para se fazer, se possível é necessário um ajuste */
}
