#content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%; /* usando min-height aqui por causa de um bug na implementação do flexbox */
}

#motto {
  text-transform: uppercase;
  margin: 25px 15%;
}

#descricao {
  font-size: 24px;
  font-weight: normal;
  margin: 10px 10%;
}

#btn-criar-evento {
  font-size: 32px;
  height: 64px;
  width: 380px;
  margin: 64px 0 32px;
  border-radius: 32px;
}

/* TODO: @media para telas menores */
