<div class="Pagina-Inicial">

<div class="Pagina-Inicial-Titulo">
  <p>My Events</p>
</div>

<div class="Pagina-Inicial-Texto">
  <p>Aqui é onde vai ficar aquele texto maneiro, da qual eu ainda não escrevi pois estou criando o HTML das páginas,
  por favor, não me julguem, devo continuar escrevendo para parecer algo maneiro, então pare de ler isso pois estou
  escrevendo coisas aleatórias para preencher essa parte</p>
</div>

  <div class="Pagina-Inicial-Botao">
    <button mat-raised-button color="primary" routerLink="/" >Criar o meu evento</button>
  </div>

</div>
