<div id="pagina-inicial">
  <p id="pagina-inicial-titulo">My Events</p>
  <p id="pagina-inicial-mensagem">
    Aqui é onde vai ficar aquele texto maneiro, da qual eu ainda não escrevi pois estou criando o HTML das páginas,
    por favor, não me julguem, devo continuar escrevendo para parecer algo maneiro, então pare de ler isso pois estou
    escrevendo coisas aleatórias para preencher essa parte.
  </p>
  <button id="pagina-inicial-btn-criar-evento" mat-raised-button color="primary">Criar o meu evento!</button>
</div>
