<div class="content">
  <div class="form">
    <h2 class="form-header">Solicitar redefinição de senha</h2>
    <h4 class="form-subheader">Uma mensagem será enviada para esse email com um link para a página de recuperação de senha.</h4>

    <div class="form-data">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <label>
          <input matInput type="email" [formControl]="email" name="email" [matAutocomplete]="emailSuggestions">
          <mat-autocomplete autoActiveFirstOption #emailSuggestions="matAutocomplete">
            <mat-option *ngFor="let email of completedEmails | async" [value]="email">
              {{email}}
            </mat-option>
          </mat-autocomplete>
        </label>
        <mat-error *ngIf="email.hasError('required')">Informe um email</mat-error>
        <mat-error *ngIf="email.hasError('email')">Informe um email <strong>válido</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button class="form-main-action" color="primary" (click)="requestPasswordReset()">Solicitar nova senha</button>
    </div>
  </div>
</div>
