<div class="content">
  <div class="card">
    <h2 class="card-title mat-headline">Registre um novo evento</h2>
    <h4 class="card-header mat-subheading-2">{{info}}</h4>
    <h4 class="card-subheader mat-subheading-1">{{extraInfo}}</h4>

    <mat-horizontal-stepper [formGroup]="event">
      <mat-step label="Informações básicas" state="subject" [completed]="infoIsValid()">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <label>
            <input matInput formControlName="name">
          </label>
          <mat-error *ngIf="event.get('name').hasError('required')">Informe um nome</mat-error>
        </mat-form-field>

        <div class="step-row">
          <mat-form-field appearance="outline">
            <mat-label>Data de início</mat-label>
            <label>
              <input matInput [min]="today" [matDatepicker]="startDate" formControlName="startDate">
            </label>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
            <mat-error *ngIf="event.get('startDate').hasError('required')">Informe uma data de início</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Limite de acompanhantes</mat-label>
            <label>
              <input matInput type="number" min="0" max="127" formControlName="companionLimit">
            </label>
            <mat-error *ngIf="event.get('companionLimit').hasError('required')">
              Informe o limite de acompanhantes
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <label>
            <textarea matInput formControlName="description"></textarea>
          </label>
          <mat-error *ngIf="event.get('description').hasError('required')">Informe uma descrição</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cronograma</mat-label>
          <label>
            <textarea matInput formControlName="schedule"></textarea>
          </label>
          <mat-error *ngIf="event.get('schedule').hasError('required')">Informe um cronograma</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Valor (opcional)</mat-label>
          <label>
            <input matInput formControlName="admissionPrice">
          </label>
        </mat-form-field>

        <div class="step-row">
          <mat-form-field appearance="outline">
            <mat-label>Idade mínima (opcional)</mat-label>
            <label>
              <input matInput type="number" min="0" max="127" formControlName="minAge">
            </label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Traje (opcional)</mat-label>
            <label>
              <input matInput formControlName="attire">
            </label>
          </mat-form-field>
        </div>

        <div class="step-actions">
          <span></span>
          <button mat-button color="primary" matStepperNext>Editar o local</button>
        </div>
      </mat-step>

      <mat-step label="Local" state="map" [completed]="localIsValid()">
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <app-cep-input formControlName="cep"></app-cep-input>
          <mat-error *ngIf="event.get('cep').hasError('required')">Informe um CEP</mat-error>
          <mat-error *ngIf="event.get('cep').hasError('cep')">Informe um CEP <strong>válido</strong></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="state">
            <mat-option>Nenhuma</mat-option>
            <mat-option *ngFor="let state of states" [value]="state.id">
              {{state.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="event.get('state').hasError('required')">Informe um estado</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <mat-select formControlName="city">
            <mat-option>Nenhuma</mat-option>
            <mat-option *ngFor="let city of filteredCities" [value]="city.id">
              {{city.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="event.get('city').hasError('required')">Informe uma cidade</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <label>
            <input matInput formControlName="neighborhood">
          </label>
          <mat-error *ngIf="event.get('neighborhood').hasError('required')">Informe um bairro</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Logradouro</mat-label>
          <label>
            <input matInput formControlName="street">
          </label>
          <mat-error *ngIf="event.get('street').hasError('required')">Informe um logradouro</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número (opcional)</mat-label>
          <label>
            <input matInput formControlName="number">
          </label>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Complemento (opcional)</mat-label>
          <label>
            <input matInput formControlName="complement">
          </label>
        </mat-form-field>

        <div class="step-actions">
          <button mat-button color="primary" matStepperPrevious>Editar as informações</button>
          <span></span>
          <button mat-button color="primary" matStepperNext>Editar os anexos</button>
        </div>
      </mat-step>

      <mat-step label="Anexos" state="attachments">
        <div class="step-actions">
          <button mat-button color="primary" matStepperPrevious>Editar o local</button>
          <span></span>
          <button mat-flat-button class="form-main-action" color="primary" [disabled]="resolving"
                  (click)="registerNewUserEvent()">
            Registrar
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
