<div class="content">
  <div class="form">
    <h2 class="form-header">Registre um novo evento</h2>
    <h4 class="form-subheader" #error></h4>

    <mat-horizontal-stepper [formGroup]="userEvent">
      <mat-step class="form-data" label="Informações" state="info">
        <div class="form-data-step">
          <mat-form-field>
            <label>
              <input matInput placeholder="Nome do evento" formControlName="name">
            </label>
            <mat-error *ngIf="userEvent.get('name').hasError('required')">Informe um nome</mat-error>
          </mat-form-field>
          <mat-form-field>
            <label>
              <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
            </label>
            <mat-error *ngIf="userEvent.get('description').hasError('required')">Informe a descrição</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Selecione uma data" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="userEvent.get('date').hasError('required')">Informe uma data válida</mat-error>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput placeholder="Valor (opcional)" formControlName="ticketPrice">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput type="number" placeholder="Máximo de acompanhantes" formControlName="maxCompanions">
            </label>
            <mat-error *ngIf="userEvent.get('maxCompanions').hasError('required')">Informe um número máximo de acompanhantes</mat-error>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput placeholder="Traje (opcional)" formControlName="attire">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input matInput type="number" placeholder="Idade mínima (opcional)" formControlName="minAge">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <textarea matInput placeholder="Cronograma" formControlName="schedule"></textarea>
            </label>
            <mat-error *ngIf="userEvent.get('schedule').hasError('required')">Informe o cronograma do evento</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Editar o local</button>
        </div>
      </mat-step>
      <mat-step class="form-data-step" label="Local" state="local">
        <mat-form-field>
          <label>
            <input matInput placeholder="Logradouro" formControlName="street">
          </label>
          <mat-error *ngIf="userEvent.get('street').hasError('required')">Informe o logradouro</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Bairro" formControlName="neighbourhood">
          </label>
          <mat-error *ngIf="userEvent.get('neighbourhood').hasError('required')">Informe o bairro</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input type="number" matInput placeholder="Número" formControlName="number">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Complemento" formControlName="complement">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Cidade" formControlName="city">
          </label>
          <mat-error *ngIf="userEvent.get('city').hasError('required')">Informe a cidade</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Estado" formControlName="state">
          </label>
          <mat-error *ngIf="userEvent.get('state').hasError('required')">Informe o estado</mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <label>
            <input matInput placeholder="CEP" formControlName="CEP" required pattern= "\d{5}-?\d{3}">
          </label>
          <mat-error *ngIf="userEvent.get('CEP').hasError">CEP inválido</mat-error>
        </mat-form-field>

        <div class="form-data">
          <button mat-button matStepperPrevious>Editar as informações</button>
          <button mat-button matStepperNext>Editar os anexos</button>
        </div>
      </mat-step>
      <mat-step class="form-data-step" label="Anexos">
        <p>Anexos do evento</p>
        <div class="form-data">
          <button mat-button matStepperPrevious>Editar o local</button>
          <button mat-raised-button class="form-main-action" color="primary" (click)="registerNewUserEvent()" [disabled]="resolvingRequest">Registrar</button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="info">
        <mat-icon>date_range</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="local">
        <mat-icon>map</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
</div>
