<div class="content">
  <div class="form">
    <h2 class="form-header">Registre um novo evento</h2>
    <h4 class="form-subheader" #error></h4>

    <mat-horizontal-stepper [formGroup]="userEvent">
      <mat-step class="form-data" label="Informações" state="info">
        <p>Informações do evento</p>
        <div>
          <button mat-button matStepperNext>Editar o local</button>
        </div>
      </mat-step>
      <mat-step class="form-data-step" label="Local" state="local">
        <p>Local do evento</p>
        <div class="form-data">
          <button mat-button matStepperPrevious>Editar as informações</button>
          <button mat-button matStepperNext>Editar os anexos</button>
        </div>
      </mat-step>
      <mat-step class="form-data-step" label="Anexos">
        <p>Anexos do evento</p>
        <div class="form-data">
          <button mat-button matStepperPrevious>Editar o local</button>
          <button mat-raised-button class="form-main-action" color="primary" (click)="registerNewUserEvent()" [disabled]="resolvingRequest">Registrar</button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="info">
        <mat-icon>date_range</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="local">
        <mat-icon>map</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
</div>
