@import "../../styles/global";

.formulario-subcabecalho {
  color: hsl(0, 100%, 60%);
}

.campos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#senha {
  width: 86%;
}

#esconder-senha {
  top: 7px;
  right: 15px;
}

#recuperar {
  font-size: .8em;
  margin-bottom: 16px;
}

#cadastro {
  margin-top: 16px;
}

/* TODO: @media para telas menores */
