@import "../../styles/global.css";

#btn-recuperacao-senha, #btn-cadastro {
  color: #696969;
}

#btn-recuperacao-senha {
  font-size: 12px;
}

#btn-login {
  width: 200px;
  height: 42px;
}

/* TODO: @media para telas menores */
