<div id="content">
  <div id="formulario">
    <h1 id="formulario-header">Login</h1>
    <form [formGroup]="contaForm" id="formulario-dados">
      <mat-form-field id="formulario-dados_email">
        <label>
          <input matInput type="text" placeholder="Email *" formControlName="email">
        </label>
        <mat-error *ngIf="contaForm.get('email').hasError('required')">O email é <strong>requerido</strong>!</mat-error>
        <mat-error *ngIf="contaForm.get('email').hasError('email')">O email é <strong>inválido</strong>!</mat-error>
      </mat-form-field>
      <mat-form-field id="formulario-dados_senha">
        <label>
          <input matInput type="password" [type]="passwordhide ? 'password' : 'text'" placeholder="Senha *" formControlName="senha">
        </label>
        <button mat-icon-button matSuffix (click)="passwordhide = !passwordhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordhide">
          <mat-icon>{{passwordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="contaForm.get('senha').hasError('required')">A senha é <strong>requerida</strong>!</mat-error>
      </mat-form-field>
    </form>
    <div id="formulario-acoes">
      <button mat-button class="btn-acoes" id="btn-recuperacao-senha" routerLink="/recuperacaodesenha">Esqueci minha senha!</button>
      <button mat-raised-button class="btn-acoes" id="btn-login" color="primary" (click)="login()">Login</button>
      <button mat-button class="btn-acoes" id="btn-cadastro" routerLink="/cadastro">Não possui uma conta? Cadastre-se!</button>
    </div>
  </div>
</div>
