<div class="content">
  <div class="formulario">
    <h1 class="formulario-header">Cadastro</h1>
    <form [formGroup]="conta" class="formulario-dados">
      <mat-form-field class="formulario-dados-campo">
        <label>
          <input matInput type="text" placeholder="Nome" formControlName="nome">
        </label>
        <mat-error *ngIf="conta.get('nome').hasError('required')">O nome é <strong>obrigatório</strong>!</mat-error>
      </mat-form-field>
      <mat-form-field class="formulario-dados-campo">
        <label>
          <input matInput type="email" placeholder="Email" formControlName="email" [matAutocomplete]="emailAutoComplete">
          <mat-autocomplete autoActiveFirstOption #emailAutoComplete="matAutocomplete">
            <mat-option *ngFor="let provedor of provedoresEmail | async" [value]="provedor">
              {{provedor}}
            </mat-option>
          </mat-autocomplete>
        </label>
        <mat-error *ngIf="conta.get('email').hasError('required')">O email é <strong>obrigatório</strong>!</mat-error>
        <mat-error *ngIf="conta.get('email').hasError('email')">O email informado é <strong>inválido</strong>!</mat-error>
      </mat-form-field>
      <form formGroupName="senhas">
        <mat-form-field class="formulario-dados-campo">
          <label>
            <input matInput [type]="esconderSenha ? 'password' : 'text'" placeholder="Senha" formControlName="senha">
          </label>
          <button mat-icon-button matSuffix (click)="esconderSenha = !esconderSenha">
            <mat-icon>{{esconderSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="conta.get('senhas.senha').hasError('required')">A senha é <strong>obrigatória</strong>!</mat-error>
          <mat-error *ngIf="conta.get('senhas.senha').hasError('minlength')">A senha deve conter no mínimo <strong>seis</strong> caracteres!</mat-error>
        </mat-form-field>
        <mat-progress-bar class="formulario-dados-forca-senha" [ngClass]="complexibilidadeSenha.class" *ngIf="conta.get('senhas.senha').dirty && conta.get('senhas.senha').value" mode="determinate" [value]="complexibilidadeSenha.porcentagem"></mat-progress-bar>
        <mat-form-field class="formulario-dados-campo">
          <label>
            <input matInput [type]="esconderSenha ? 'password' : 'text'" placeholder="Confirmação da senha" formControlName="confirmacaoSenha" [errorStateMatcher]="confirmacaoSenhaMatcher">
          </label>
          <button mat-icon-button matSuffix (click)="esconderSenha = !esconderSenha">
            <mat-icon>{{esconderSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="conta.get('senhas').hasError('different')">As senhas informadas são <strong>diferentes</strong>!</mat-error>
        </mat-form-field>
      </form>
      <mat-form-field class="formulario-dados-campo">
        <label>
          <input matInput type="tel" placeholder="Telefone" formControlName="telefone">
        </label>
        <mat-error *ngIf="conta.get('telefone').hasError('required')">O telefone é <strong>obrigatório</strong>!</mat-error>
      </mat-form-field>
      <mat-form-field class="formulario-dados-campo">
        <label>
          <input matInput type="text" placeholder="CPF" formControlName="CPF">
        </label>
        <mat-error *ngIf="conta.get('CPF').hasError('required')">O CPF é <strong>obrigatório</strong>!</mat-error>
      </mat-form-field>
    </form>
    <div class="formulario-acoes">
      <button mat-raised-button class="formulario-acoes-btn" id="btn-cadastro" color="primary" [disabled]="conta.invalid" (click)="cadastrar()">Cadastrar</button>
      <button mat-button class="formulario-acoes-btn" id="btn-login" routerLink="/login">Já possui conta ? Faça Login</button>
    </div>
  </div>
</div>
