@import "../../styles/global";

.formulario-subcabecalho {
  color: hsl(0, 100%, 60%);
}

.campos {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .campo {
    width: 45%;
  }
}

#esconder-senha {
  top: 7px;
}

#login {
  margin-top: 16px;
}

/* TODO: @media para telas menores */
