@import "../../styles/global";

.campos {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .campo {
    width: 45%;
  }
}

#esconder-senha {
  top: 9px;
}

#login {
  margin-top: 16px;
}

/* TODO: @media para telas menores */
