.content {
  display: flex;
  min-height: 100%; /* usando min-height aqui por causa de um bug na implementação do flexbox */
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// colorizar a barra de força da senha com base da sua complexibilidade
.mat-progress-bar-fill::after {
  .too-weak &{
    background-color: hsl(0, 100%, 60%);
  }

  .weak &{
    background-color: hsl(45, 100%, 60%);
  }

  .mediocre &{
    background-color: hsl(90, 100%, 60%);
  }

  .strong &{
    background-color: hsl(135, 100%, 60%);
  }

  .epic &{
    background-color: hsl(180, 100%, 60%);
  }
}

// colorizar snack bar
.snack-bar-success, .snack-bar-problematic, .snack-bar-failure {
  color: black;

  .mat-button {
    color: black;
  }
}

.snack-bar-success {
  background-color: hsl(88, 50%, 53%);
}

.snack-bar-problematic {
  background-color: hsl(36, 100%, 57%);
}

.snack-bar-failure {
  background-color: hsl(4, 90%, 58%);
}
