.mat-tooltip {
  font-size: 14px;
  justify-content: center;
}

.mat-form-field-appearance-outline {
  // diminuir tamanho dos campos de forma que utilizam a aparência 'outline'
  .mat-form-field-infix {
    padding: 7px 0;
    border-top: .54375em solid transparent;
  }

  // ajustar distância entre o rótulo e o campo de input
  .mat-form-field-label {
    top: 1.44375em;
  }

  // ajustar distância entre o rótulo e o campo de input quando flutuando
  &.mat-form-field-can-float {
    .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label, &.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-.99375em) scale(.75);
    }

    .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper .mat-form-field-label {
      transform: translateY(-.99374em) scale(.75);
    }
  }
}

// personalizar menus em cascata
.mat-menu-panel {
  background-color: hsl(206, 9%, 18%);

  .mat-menu-content {
    padding: 0;

    &:not(:empty) {
      padding: 7px 0;
    }

    .mat-menu-item {
      color: white;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.04);
      }

      .mat-icon {
        color: white;
      }
    }
  }
}

// remover padding dos steppers
.mat-horizontal-content-container {
  padding: 0 !important;
}

// aumentar o comprimento da snack bar em telas maiores
@media(min-width: 768px) {
  .mat-snack-bar-container {
    min-width: 800px !important;
  }
}
