@mixin password-strength-bar-classes-colors {
  .too-weak & {
    background: hsl(0, 100%, 60%);
  }

  .weak & {
    background: hsl(45, 100%, 60%);
  }

  .mediocre & {
    background: hsl(90, 100%, 60%);
  }

  .strong & {
    background: hsl(135, 100%, 60%);
  }

  .epic & {
    background: hsl(180, 100%, 60%);
  }
}
