<div class="content">
  <div class="card">
    <h1 class="card-title mat-headline">Informe uma nova senha</h1>
    <h3 class="card-header mat-subheading-2">{{info}}</h3>

    <form class="card-content" [formGroup]="passwords">
      <mat-form-field class="card-field" appearance="outline">
        <mat-label>Senha</mat-label>
        <label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" maxlength="127">
        </label>
        <mat-error *ngIf="passwords.get('password').hasError('required')">Informe uma senha</mat-error>
        <mat-error *ngIf="passwords.get('password').hasError('minlength')">A senha deve conter <strong>pelo menos 6 caractéres</strong></mat-error>
      </mat-form-field>

      <mat-form-field class="card-field" appearance="outline">
        <mat-label>Confirmar senha</mat-label>
        <label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmedPassword" [errorStateMatcher]="parentErrorStateMatcher" maxlength="127">
        </label>
        <mat-error *ngIf="passwords.hasError('different')">As senhas são <strong>diferentes</strong></mat-error>
      </mat-form-field>
    </form>

    <mat-progress-bar *ngIf="passwords.get('password').dirty && passwords.get('password').value" class="password-strength-bar" [ngClass]="passwordStrength.class" mode="determinate" [value]="passwordStrength.percentage" matTooltip="Indicação de complexibilidade da sua senha."></mat-progress-bar>

    <button mat-icon-button id="hide-password" (click)="hidePassword = !hidePassword" matTooltip="Esconde/Mostra os caractéres da(s) senha(s).">
      <mat-icon class="icon">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <div class="card-actions">
      <button mat-flat-button class="main-card-action" color="accent" (click)="resetPassword()">Alterar senha</button>
    </div>
  </div>
</div>
