.content { }

.card {
  width: 500px;
  padding: 25px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  box-shadow: 3px 3px 1.5px hsla(0, 0%, 0%, 0.1);
  background-color: white;
}

.card-title, .card-header, .card-subheader {
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-actions {
  display: flex;
  width: 100%;
  margin-top: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-field {
  width: 100%;
  margin: 5px 0;
}

.main-card-action {
  width: 200px;
  height: 42px;
}

.icon {
  color: hsla(0, 0%, 0%, 0.75);
}

/* TODO: @media para telas menores */
