@import "../../styles/global";

.card-header {
  color: hsl(0, 100%, 60%);
}

#password-field {
  width: 86%;
}

#hide-password {
  top: -11px;
  right: 15px;
}

#reset-password {
  margin-bottom: 16px;
  font-size: .8em;
}

#signup {
  margin-top: 16px;
}

/* TODO: @media para telas menores */
