<div id="content">
  <div id="solicitacao">
    <h1 id="solicitacao-header">Redefinição de Senha</h1>
    <form [formGroup]="contaForm" id="solicitacao-dados">
      <mat-form-field id="solicitacao-dados_email">
        <label>
          <input matInput type="text" placeholder="Email *" formControlName="email">
        </label>
        <mat-error *ngIf="contaForm.get('email').hasError('required')">O email é <strong>requerido</strong>!</mat-error>
        <mat-error *ngIf="contaForm.get('email').hasError('email')">O email é <strong>inválido</strong>!</mat-error>
      </mat-form-field>
    </form>
    <div id="solicitacao-acoes">
      <button mat-raised-button class="btn-acoes" color="primary" (click)="recupSenha()">Confirmar</button>
    </div>
  </div>
</div>
