/* You can add global styles to this file, and also import other style files */
@import "app/shared/styles/theme";
@import "app/shared/styles/global";
@import "app/shared/styles/material";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
