@import "../../styles/global";

.card-header {
  color: hsl(0, 100%, 60%);
}

.card-row .card-field {
  width: 45%;
}

#hide-password {
  top: -11px;
}

#signin {
  margin-top: 16px;
}

/* TODO: @media para telas menores */
