<form [formGroup]="cep">
  <label>
    <input matInput id="local" maxlength="5" size="5" formControlName="local"
          (blur)="onTouched()"
          (input)="onAnyInputChange(local.value, local.attributes.getNamedItem('maxLength').value, distribution)"
           #local>
  </label>
  <span>-</span>
  <label>
    <input matInput id="distribution" maxlength="3" size="3" formControlName="distribution"
           (input)="onAnyInputChange()" (blur)="onTouched()"
           #distribution>
  </label>
</form>
