<form [formGroup]="cep">
  <label>
    <input #local matInput id="local" formControlName="local" maxlength="5" size="5"
           (blur)="onTouched()" (input)="onAnyInputChange()"
          (input)="onAnyInputChange(local.value, local.attributes.getNamedItem('maxLength').value, distribution)">
  </label>
  <span>-</span>
  <label>
    <input #distribution matInput id="distribution" formControlName="distribution" maxlength="3" size="3"
           (blur)="onTouched()" (input)="onAnyInputChange()">
  </label>
</form>
