<div class="content">
  <app-loading-spinner *ngIf="!resolved; else content"></app-loading-spinner>
  <ng-template #content>
    <h1 class="mat-headline" id="page-header">Lista de eventos</h1>
    <h2 *ngIf="!hasEvents(); else list" class="mat-title" id="empty-message">Nenhum evento criado.</h2>

    <ng-template #list>
      <div id="event-list">
        <ng-container *ngFor="let event of events">
          <div class="event-card" (click)="details(event.id)">
            <h2 class="mat-title">{{event.name}}</h2>

            <div [style.backgroundImage]="'url(' + (event.image ? 'data:image/png;base64,' + event.image : '../../../../assets/default-event-image.jpeg') + ')'">
              {{event.description}}
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </ng-template>
</div>
